@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/molecule-maker\/scss\/index\.scss}line{font-family:\000034}}
body {
  font-family: kiroregular, sans-serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/molecule-maker\/scss\/index\.scss}line{font-family:\000038}}
.centering {
  width: 828px;
  margin: 0px auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/molecule-maker\/scss\/index\.scss}line{font-family:\0000313}}
#periodic_table {
  width: 828px;
  margin: 0px auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/molecule-maker\/scss\/index\.scss}line{font-family:\0000316}}
  #periodic_table .section {
    position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/molecule-maker\/scss\/index\.scss}line{font-family:\0000318}}
    #periodic_table .section.table {
      margin-bottom: 26px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/molecule-maker\/scss\/index\.scss}line{font-family:\0000325}}
  #periodic_table .period {
    position: relative;
    height: 52px;
    width: 828px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/molecule-maker\/scss\/index\.scss}line{font-family:\0000330}}
  #periodic_table .element {
    position: absolute;
    cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/molecule-maker\/scss\/index\.scss}line{font-family:\0000333}}
    #periodic_table .element:hover {
      background-color: #ddd; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/molecule-maker\/scss\/index\.scss}line{font-family:\0000339}}
.element {
  width: 42px;
  height: 46px;
  border: 1px solid black;
  padding: 2px 1px;
  display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/molecule-maker\/scss\/index\.scss}line{font-family:\0000345}}
  .element div {
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/molecule-maker\/scss\/index\.scss}line{font-family:\0000348}}
  .element .symbol {
    font-size: 16px;
    font-weight: bold;
    margin: 2px 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/molecule-maker\/scss\/index\.scss}line{font-family:\0000353}}
  .element .small {
    font-size: 9px;
    overflow: hidden;
    text-overflow: ellipsis; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/molecule-maker\/scss\/index\.scss}line{font-family:\0000358}}
  .element.featured {
    width: 78px;
    height: 90px;
    padding: 6px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/molecule-maker\/scss\/index\.scss}line{font-family:\0000362}}
    .element.featured div {
      text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/molecule-maker\/scss\/index\.scss}line{font-family:\0000365}}
    .element.featured .symbol {
      font-size: 32px;
      font-weight: bold;
      margin: 7px 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/molecule-maker\/scss\/index\.scss}line{font-family:\0000370}}
    .element.featured .small {
      font-size: 14px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/molecule-maker\/scss\/index\.scss}line{font-family:\0000378}}
#molecule_workspace .division {
  display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/molecule-maker\/scss\/index\.scss}line{font-family:\0000380}}
  #molecule_workspace .division#elementalDivision {
    width: 70%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/molecule-maker\/scss\/index\.scss}line{font-family:\0000383}}
  #molecule_workspace .division#molecularDivision {
    width: 30%;
    text-align: right;
    vertical-align: top; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/molecule-maker\/scss\/index\.scss}line{font-family:\0000387}}
    #molecule_workspace .division#molecularDivision label {
      font-size: 14px;
      font-style: italic; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/molecule-maker\/scss\/index\.scss}line{font-family:\0000391}}
    #molecule_workspace .division#molecularDivision .output {
      font-size: 13px;
      font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/molecule-maker\/scss\/index\.scss}line{font-family:\0000397}}
#molecule_workspace .elementSection {
  display: inline-block;
  margin-right: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/molecule-maker\/scss\/index\.scss}line{font-family:\00003100}}
  #molecule_workspace .elementSection .statPart {
    display: inline-block;
    margin-left: 5px;
    padding-top: 6px;
    vertical-align: top;
    width: 32px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/molecule-maker\/scss\/index\.scss}line{font-family:\00003106}}
    #molecule_workspace .elementSection .statPart .percent {
      font-size: 12px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jesse\/Documents\/GitHub\/molecule-maker\/scss\/index\.scss}line{font-family:\00003109}}
    #molecule_workspace .elementSection .statPart .count {
      width: 100%;
      font-weight: bold; }
