$ELEMENT_WIDTH: 46px;
$ELEMENT_HEIGHT: 52px;

body{
    font-family: kiroregular, sans-serif;
}

.centering{
    width: $ELEMENT_WIDTH * 18;
    margin: 0px auto;
}

#periodic_table{
    width: $ELEMENT_WIDTH * 18;
    margin: 0px auto;
    .section{
        position: relative;
        &.table{
            margin-bottom: $ELEMENT_HEIGHT / 2;
        }
        &.radioactive{

        }
    }
    .period{
        position: relative;
        height: $ELEMENT_HEIGHT;
        width: $ELEMENT_WIDTH * 18;
    }
    .element, .lanthanoid, .actinoid{
        position: absolute;
        cursor: pointer;
        &:hover{
           background-color: #fff;
        }
    }
}



.element, .reference{
    width: $ELEMENT_WIDTH - 4px;
    height: $ELEMENT_HEIGHT - 6px;
    border: 1px solid black;
    padding: 2px 1px;
    display: inline-block;
    div{
        text-align: center;
    }
    .symbol{
        font-size: 16px;
        font-weight: bold;
        margin: 2px 0px;
    }
    .small{
        font-size: 9px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: pre;
    }
    &.featured{
        width: ($ELEMENT_WIDTH * 2) - 14px;
        height: ($ELEMENT_HEIGHT * 2) - 14px;
        padding: 6px;
        div{
            text-align: center;
        }
        .symbol{
            font-size: 32px;
            font-weight: bold;
            margin: 7px 0px;
        }
        .small{
            font-size: 14px;
        }
    }
    &.lanthanoid{
        background-color: #fec;
    }
    &.actinoid{
        background-color: #fdb;
    }
    &.transition{
        background-color: #eee;
    }
    &.poor{
        background-color: #def;
    }
    &.alkali{
        background-color: #fdf;
    }
    &.alkaline{
        background-color: #edf;
    }
    &.metalloid{
        background-color: #dfe;
    }
    &.halogen{
        background-color: #efd;
    }
    &.noble{
        background-color: #ffd;
    }
    &.nonmetal{
        background-color: #ddf;
    }
    &.reference{
        background-color: #fff;
        border: 1px dashed black;
    }
}





#molecule_workspace{
    .division{
        display: inline-block;
        &#elementalDivision{
            width: 70%;
        }
        &#molecularDivision{
            width: 30%;
            text-align: right;
            vertical-align: top;
            label{
                font-size: 14px;
                font-style: italic;
            }
            .output{
                font-size: 13px;
                font-weight: bold;
            }
        }
    }
    .elementSection{
        display: inline-block;
        margin-right: 20px;
        .statPart{
            display: inline-block;
            margin-left: 5px;
            padding-top: 6px;
            vertical-align: top;
            width: 32px;
            .percent{
                font-size: 12px;
            }
            .count{
               width: 100%;
               font-weight: bold;
            }
        }
    }
}
